# Python virtual environment
myenv/

# Node modules
node_modules/

# Python bytecode
__pycache__/
*.py[cod]

# Build / dist
dist/
build/

# Environment files
.env

# VSCode
.vscode/

# Other
*.log
# Ignore ML model files
*.h5
*.hdf5
*.pt
*.pth
*.onnx

# Firebase
.firebase/

Frontend/src/firebase.ts

# 1_VOIS folder
1_VOIS/

*.mp4

1_VOIS/VOIS TUTO.mp4


