/* Global Scrollbar Hiding */
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

@tailwind base;
@tailwind components;
@tailwind utilities;